<section id="viewhotelDetails">
	<h2>Details</h2>
	<div class="hotel-ticket">
		<div class="hotel-left">
			<img src="{{imgUrl}}" alt="" />
		</div>
		<div class="hotel-right">
			<div>
				<h3>{{hotel}}</h3>
			</div>
			<div>
				{{city}}
			</div>
			<p><span>Free rooms: {{availableRooms}}</span> </p>
			{{#if user}}
				{{#if owner}}
					<a href="/edit/{{_id}}" class="edit">Edit</a>
					<a href="/delete/{{_id}}" class="remove">Delete</a>
				{{else}}
					{{#if hasBooked}}
						<p><span class="green">You already have booked a room</span> </p>
					{{else}}
						{{#if hasRooms}}
							<a href="/book/{{_id}}" class="book">Book</a>
						{{else}}
							<p><span class="green">There are no free rooms</span> </p>
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}

		</div>

	</div>
</section>